.popup-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    background-color: rgba(0,0,0,0.5);
}

.popup{
    margin:auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    background-color: var(--background-color);
    min-width: 30em;
    font-size: 1.1em;
    animation: linear pop 0.15s;
}

.popup-title{
    margin-top:0;
    text-align: center;
}

@media (max-width: 500px) {
    .popup{
        width: 100%;
        min-width: unset;
    }
}

@keyframes pop {
    0%{transform: scale(0);}
    80%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
