header{
    position: sticky;
    top:0;
    background-color: var(--header-background-color);
    padding: 1em;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

img{
    width: 1em;
    margin: auto 0.5em auto auto;
}
.header-svg{
    width: 1em;
    height: 1em;
    fill: var(--background-color);
    transition: all 0.15s ease-in-out;
}
.header-title{
    color: var(--background-color);
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin:0;
    gap:1em;
}
header a{
    display: flex;
    gap:0.5em;
    text-decoration: none;
    color:var(--background-color);
    padding: 0.5em 1em;
    border: solid 1px var(--background-color);
    border-radius: 999px;
    transition: all 0.15s ease-in-out;
}
header a:hover{
    background-color: var(--background-color);
    color: var(--header-background-color);
}
header a:hover > .header-svg{
    fill: var(--header-background-color);
}

.admin-link{
    border-color: var(--admin-color);
}
.admin-link:hover{
    color: var(--background-color);
    background-color: var(--admin-color);
}
.admin-link:hover > .header-svg{
    fill : var(--background-color);
}

@media (max-width: 600px) {
    .admin-link-text{
        display: none;
    }
}
