#app-container{ /* div root qui permet de render le composant App react */
    flex:1;
    display: flex;
}

.app-container{ /* div mère interne au composant react */
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.ticking-container{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding:1em;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
    position: relative;
    border: solid 1px transparent;
    margin:0.5em;
}

.ticking-container:not(.ticked):hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

.ticking-container:not(.ticked):active{
    transform: scale(0.97);
}
.ticking-loading{
    cursor: default;
}
.ticking-loading:active{
    transform: unset;
}


.ticked{
    border: solid 1px green;
    cursor: not-allowed;
}
.ticking-success-icon{
    color:green;
    transform: translateX(0em);
    animation: success-icon-anim 0.5s ease-out;
    opacity: 1;
}

@keyframes success-icon-anim {
    0% {
        opacity: 0;
        transform: translateX(-1em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
